.app {
  padding: 1rem;
}

.iconButton {
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.form {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.group {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.rows {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.buttons {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.row,
.captions {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.captions div {
  font-style: italic;
  text-decoration: underline;
}
