.app {
  padding: 1rem;
}

.grid {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form {
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.group {
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

.rows {
  gap: 1rem;
  display: flex;
  flex-direction: column;
}

.buttons {
  gap: 1rem;
  display: flex;
}

.row,
.captions {
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.captions div {
  font-style: italic;
}
